.milkdown {
  width: 100%;
  /* padding: 0.5rem 0.75rem; */
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}

.milkdown:focus-within {
  /* outline: none; */
  border-color: #3b82f6;
  box-shadow: 0 1px 2px 0 rgba(59, 130, 246, 0.05);
}

.milkdown {
  --crepe-color-background: #ffffff;
  --crepe-color-on-background: #1b1c1d;
  --crepe-color-surface: #ffffff;
  --crepe-color-surface-low: #f9fafb;
}
